* {
  box-sizing: border-box;
  /* Heading/Heading 4 */
  font-family: "Lato", serif;
  font-size: 18px;
  font-weight: 900;
}

body {
  background-color: #f3f4ff;
  overflow-x: hidden;
}

/* -----------------------------------------------------------------
Thanh tìm kiếm */
.search-bar-block {
  display: flex;
  height: 50px;
  width: 400px;
  padding: 2px 32px 2px 0px;
  align-items: center;
  flex-shrink: 0;
  background-color: #fff;
  border-radius: 20px;
}

.search-bar {
  display: flex;
  padding: 23px 2.5%;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.search-bar input[type="text"] {
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #fff;
  width: 100%;
  height: 80%;
  border: 0px none;
  border-radius: 10px;
}

.search-bar-block svg {
  margin: 10px;
}



/* -----------------------------------------------------------------
Nút thêm */

.xinnghi {
  border-radius: 40px;
  width: 207px;
  height: 60px;
  font-family: Lato;
  font-style: normal;
  box-shadow: 0px 20px 50px 0px rgba(191, 21, 108, 0.05);
  line-height: normal;
}

.link-button {
  text-decoration: none;
}

/* -----------------------------------------------------------------
Nút bộ lọc của từng Page */
.justify {
  display: flex;
  gap: 20px;
}

.table-container {
  text-align: center;
}

.table {
  width: 95%;
  margin: 0 auto;
}

.drop-down {
  display: flex;
  width: 207px;
  height: 60px;
  padding: 16px 43px;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  border: 2px solid var(--Color-Purple, #4D44B5);
  /* Shadow */
  box-shadow: 0px 20px 50px 0px rgba(191, 21, 108, 0.05);
}

.drop-down select {
  border: 1px none;
  background-color: #f3f4ff;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* --------------------------------------------------------------------
Page admin  */
.admin-page {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
  margin-top: 30px;
  gap: 17.62px;
}

.info-admin {
  background-color: #fff;
  min-height: 370.44px;
  border-radius: 20px;
}

.info-admin-head {
  background-color: #4D44B5;
  height: 141.31px;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  display: flex;
}

.bl {
  height: 277.71px;
  width: 25.92%;
  border-radius: 1000px;
}

.orange-block {
  background-color: #FB7D5B;
  margin-left: 54.46%;
  margin-top: 82.01px;
}

.yellow-block {
  background-color: #FCC43E;
  margin-top: 32.61px;
  margin-left: -11.5%;
}

.info-admin-avatar {
  width: 229.144px;
  height: 165.54px;
  border-radius: 100px;
  border: 8px solid #fff;
  margin-top: -110px;
  margin-left: 3.1%;
  overflow: hidden;
  background-color: #000;
}

.info-admin-avatar img {
  height: 100%;
}

.info-admin-name {
  text-transform: capitalize;
  color: #303972;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  margin-left: 3.5%;
  margin-top: 0.5%;
}

.admin {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #303972;
  margin-left: 3.5%;
}

.info-admin-position {
  color: #A098AE;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.info-admin-container {
  display: flex;
  margin-left: 3.5%;
  flex-wrap: wrap;
  gap: 20%;
}

.info-admin-container .phone,
.info-admin-container .email {
  color: #A098AE;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
}

.info-admin-container>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fa-phone,
.fa-envelope {
  background-color: #FB7D5B;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-phone-position,
.info-gmail-position {
  color: #303972;
  display: flex;
  align-items: baseline;
  gap: 5px;
}

.approve {
  min-height: 530px;
  background-color: #fff;
  border-radius: 20px;
  padding: 0 1.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.approve-title {
  color: #303972;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  margin-top: 39px;
  margin-bottom: 25px;
}

.search {
  width: 92.75%;
  height: 60px;
  border: 1px solid #A098AE;
  border-radius: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 7px;
}

.search input {
  height: 100%;
  width: 92%;
  border: none;
}

.search i {
  color: #303972;
  font-size: 28px;
}

.approve-list-items {
  display: flex;
  flex-direction: column;
  min-height: 332px;
  gap: 28.33px;
  margin-top: 25px;
  width: 92.75%;
}

.bg-approve {
  display: flex;
  width: 100%;
}

.avatar-approve {
  width: 78.983px;
  height: 61.675px;
  background-color: #000;
  /* border-radius: 40px; */
  overflow: hidden;
  /* border: 1px solid #000; */
}

.avt {
  width: 100%;
  height: 100%;
}

.content-approve {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 21.2px;
  min-width: 10%;
}

.content-item-approve {
  align-self: center;
  margin-left: 10%;
  color: #A098AE;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  min-width: 200px;
}

.content-approve .name {
  color: #303972;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.content-approve .time {
  color: #A098AE;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.agree,
.notagree {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
}

.button-approve {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 10px;
}

.button-viewmore-approve {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  background-color: rgba(77, 68, 181, 0.102);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #4D44B5;
  border-radius: 40px;
  margin-bottom: 10px;
  cursor: pointer;
}

.button-viewmore-approve:hover {
  background-color: #4D44B5;
  color: #fff;
}

/* --------------------------------------------------------------------
Page thêm cho các trang quản lý */
/* Cài đặt chung cho form */
.add-medicine {
  background-color: white;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  padding-bottom: 80px;
}

/* Cài đặt cho thêm  */
.medicine-info {
  display: flex;
  flex-direction: column;
  color: #303972;
  font-family: Lato;
  font-size: 18px;
  font-weight: 600;
  word-wrap: break-word;
}

/* Cài đặt cho label */
.medicine-info label {
  margin-bottom: 16px;
  display: block;
  color: var(--Color-Text, #303972);
  /* Text/Text Semi Bold 1 */
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* Cài đặt cho input */
.medicine-info input {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 27px;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
}

.input-select {
  border-radius: 5px;
  margin-bottom: 27px;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
}

/* Cài đặt cho textarea */
.medicine-info textarea {
  width: 100%;
  height: 231px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

/* Cài đặt cho button */
.medicine-info button {
  margin-top: 10px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-family: Lato;
  font-weight: 600;
  font-size: 16px;
}

.box {
  padding-left: 6%;
}

/* Cài đặt cho button "Lưu nháp" */
.formSumit button:first-of-type {
  border: 2px solid #4d44b5;
  border-radius: 40px;
  width: 172px;
  height: 64px;
  color: #4d44b5;
  margin-right: 26px;
}

/* Cài đặt cho button "Gửi" */
.formSumit button:last-of-type {
  border-radius: 40px;
  width: 112px;
  height: 64px;
}


/* Media query cho màn hình nhỏ */
@media (max-width: 768px) {
  .medicine-info {
    flex-direction: column;
  }

  .medicine-info label,
  .medicine-info input,
  .medicine-info textarea {
    grid-column: span 2;
  }

  .medicine-info button {
    grid-column: 1 / span 2;
  }
}

.summitFooter {
  display: flex;
  text-align: center;
  padding-right: 5%;
  float: right;
}

.medicine {
  padding-bottom: 0;
}

/* --------------------------------------------------------------------
 Page thông tin của thuốc */

.box-info {
  background-color: #fff;
  width: 95%;
  min-height: 500px;
  margin: 0 auto;
  border-radius: 20px;
  overflow: auto;
}

.box-info_head {
  display: flex;
  background-color: #4d44b5;
  height: 142px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}

.rectangle {
  background-color: transparent;
  width: 26%;
  height: 312px;
}

.yl {
  border-radius: 400px;
  border: 16px solid yellow;
  z-index: 0;
  margin-top: 32.16px;
}

.or {
  border-radius: 400px;
  border: 16px solid orange;
  margin-left: 54%;
  margin-right: -10%;
  margin-top: 82.87px;
}

.avatar-info {
  width: 290px;
  height: 200px;
  border-radius: 100px;
  border: 8px solid #fff;
  margin-top: -110px;
  margin-left: 3.1%;
  overflow: hidden;
}

.title-info_typo {
  padding-left: 3.5%;
  font-style: normal;
  color: #303972;
}

.stack {
  display: flex;
  margin-left: 3.4%;
  gap: 15%;
  flex-wrap: wrap;
}

.stack-info-ele {
  display: flex;
  align-items: center;
  height: 50px;
  width: auto;
  gap: 5px;
}

.icon-info-ele {
  display: flex;
  background-color: #FB7D5B;
  color: #fff;
  border-radius: 50%;
  min-height: 40px;
  min-width: 40px;
  justify-content: center;
  align-items: center;
}

.paragraph-congdung {
  height: 16%;
}

.paragraph-chidinh {
  height: 12%;
}

.paragraph-chongchidinh {
  height: 15%;
}

.paragraph-thanhphan {
  height: auto;
}

/* Media query cho màn hình nhỏ */
@media (max-width: 768px) {
  .form-group {
    flex-direction: column;
  }

  .form-group label,
  .form-group input,
  .form-group textarea {
    flex-basis: 100%;
  }
}

/* ------------------------------------------------------------------
hover cho Sidebar */

#home:hover,
#patients:hover,
#employees:hover,
#medicines:hover,
#devices:hover,
#preventions:hover,
#admin:hover {
  background-color: indigo;
  color: white;
}

#home:target,
#patients:target,
#employees:target,
#medicines:target,
#devices:target,
#preventions:target,
#admin:target {
  background-color: white;
  color: purple;
}

/* -----------------------------------------------------------------
Page thông tin nhân viên */
.box-employee-info {
  background-color: inherit;
  width: 95%;
  margin: 0 auto;
  border-radius: 20px;
  overflow: auto;
}

.box-profile {
  background-color: #fff;
  min-height: 500px;
  width: 100%;
  border-radius: 20px;
}

.box-head-profile {
  width: 100%;
  height: 142px;
  display: flex;
  overflow: hidden;
  background-color: #4D44B5;
  border-radius: 20px 20px 0 0;
}

.square {
  width: 26%;
  height: 283px;
  border-radius: 20px;
}

.square-yl {
  background-color: yellow;
  margin-top: 32.61px;
  margin-left: -11.5%;
}

.square-or {
  background-color: orange;
  margin-left: 54.46%;
  margin-top: 82.01px;
}

.employee-info-avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  border: 8px solid white;
  margin-top: -109.04px;
  margin-left: 3.2%;
}

/* ------------------------------------------------------------------ 
Màu của đường dẫn đến trang thông tin */

.if-link:link {
  color: #303972;
}

/* ------------------------------------------------------------------
Lịch trực của page thông tin nhân viên */

.info-employees-calendar {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.noti {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 123.445px;
  border-radius: 20px;
  padding-left: 32px;
  align-items: start;
}

.title-noti {
  color: #303972;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 9px;
}

.content-noti {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  color: #A098AE;
}

.bg-schedule {
  background-color: #fff;
  width: 100%;
  height: 175.12px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  position: relative;
}

.list-schedule {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.left-schedule {
  width: 6%;
  height: 100%;
  background-color: #4D44B5;
  position: absolute;
  border-radius: 20px 0 0 20px;
}

.content-schedule {
  display: flex;
  flex-direction: column;
  margin-left: 11.5%;
  flex-shrink: 0;
}

.content-schedule .day {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 23px;
  margin-bottom: 5px;
  color: #303972;
}

.note,
.date,
.time {
  color: #A098AE;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.note {
  margin-bottom: 27.43px;
}

.date {
  margin-bottom: 9.62px;
}

.fa-calendar {
  color: #FB7D5B;
}

.fa-clock {
  color: #FCC43E;
}

.button-viewmore {
  display: flex;
  background-color: rgba(77, 68, 181, 0.1);
  width: 100%;
  height: 57.42px;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  color: #4D44B5;
}

.close,
.more {
  pointer-events: none;
}

.button-viewmore:hover {
  background-color: rgb(77, 68, 181);
  color: #fff;
  cursor: pointer;
}

.benhan {
  background-color: #4D44B5;
  width: 120%;
  margin: 36px -20px;
  height: 68.5px;
  color: #fff;
  padding-left: 4%;
  display: flex;
  align-items: center;
}

.benhan-title {
  font-weight: 700;
  font-size: 24px;
}

/* Basic reset */

/* Setting font for the whole calendar for consistency */
.calendar {
  font-family: 'Arial', sans-serif;
  min-width: 80%;
  /* Adjust as needed for your layout */
  min-height: 820px;
  margin: 0 auto;
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* subtle shadow for depth */
  background-color: #FFFFFF;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 2px solid #EEEEEE;
  margin-bottom: 17px;
  margin-top: -10px;
}

.header select {
  background-color: #fff;
  margin-right: 10px;
  padding: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #555;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  padding: 10px 0;
  gap: 15px;
  background-color: #fff;
  font-weight: 600;
  border-radius: 6px;
}

.weekday {
  padding: 10px 0;
  color: #A098AE;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 100px);
  grid-gap: 50px 50px;
  gap: 24px 30px;
  padding: 7px;
}

.day-db {
  color: #303972;
  background-color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  /* Light background for the cells */
  border: 2px #A098AE solid;
  /* Subtle border */
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: left;
  justify-content: left;
  text-align: left;
  padding: 10px 10px;
  /* Adjusted padding for more space */
  border-radius: 8px;
  /* Rounded corners for modern look */
  transition: background-color 0.3s, box-shadow 0.3s;
  /* Smooth transitions for hover effects */
}

.day-db:hover {
  background-color: #e0e0e0;
  /* Darker background on hover */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Soft shadow for depth */
}

/* Specific event styles */
.has-event:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: orange;
  /* Color for the dots */
}

.event-details {
  position: absolute;
  left: 10px;
  bottom: 10px;
  color: white;
  background-color: #3F51B5;
  /* Adjust the color to match the event detail color */
  border-radius: 10px;
  padding: 0.25em 0.5em;
  font-size: 0.75rem;
}

.event-name {
  margin-right: 5px;
}

.event-count {
  background-color: #FF4081;
  /* Color for event count indicator */
  border-radius: 10px;
  padding: 0 5px;
}