* {
  box-sizing: border-box;
  /* Heading/Heading 4 */
  font-family: "Georgia", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;

}

body {
  background-color: #f3f4ff;
}

/* -----------------------------------------------------------------
Thanh tìm kiếm */
.search-bar-block {
  display: flex;
  height: 50px;
  width: px;
  padding: 2px 32px 2px 0px;
  align-items: center;
  flex-shrink: 0;
  background-color: #fff;
  border-radius: 20px;
}

.search-bar {
  display: flex;
  padding: 23px 42px;
  align-items: center;
  margin: 20px 0;
}

.search-bar input[type="text"] {
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #fff;
  border: 2px none;
}

.search-bar-block svg {
  margin: 10px;
}



/* -----------------------------------------------------------------
Nút thêm */
.add {
  border-radius: 40px;
  background-color: #4d44b5;
  color: white;
  display: inline-block;
  width: 207px;
  height: 60px;
  font-family: Poppins;
  font-size: 27px;
  padding: 16px 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  font-style: normal;
  font-weight: 400;
  box-shadow: 0px 20px 50px 0px rgba(191, 21, 108, 0.05);
  line-height: normal;
  column-count: 2;
}

.link-button {
  text-decoration: none;
}

/* -----------------------------------------------------------------
Nút bộ lọc của từng Page */
.justify {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.table-container {
  text-align: center;
}

.table {
  width: 95%;
  margin: 0 auto;
}

.drop-down {
  display: flex;
  width: 207px;
  height: 60px;
  padding: 16px 43px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 40px;
  border: 2px solid var(--Color-Purple, #4D44B5);
  /* Shadow */
  box-shadow: 0px 20px 50px 0px rgba(191, 21, 108, 0.05);
  margin-right: 20px;
}

.drop-down select {
  border: 1px none;
  background-color: #f3f4ff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* --------------------------------------------------------------------
Page admin  */
.admin-page {
  background-image: url('./img/admin.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  position: fixed;
}

/* --------------------------------------------------------------------
Page thêm cho các trang quản lý */
/* Cài đặt chung cho form */
.add-medicine {
  background-color: white;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

/* Cài đặt cho phần thông tin thuốc */
.medicine-info {
  display: flex;
  flex-direction: column;
  color: #303972;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  word-wrap: break-word;
}

/* Cài đặt cho label */
.medicine-info label {
  margin-bottom: 16px;
  display: inline-flex;
  color: var(--Color-Text, #303972);
  /* Text/Text Semi Bold 1 */
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* Cài đặt cho input */
.medicine-info input {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 27px;
  box-sizing: border-box;
  width: 617px;
  height: 48px;
}

/* Cài đặt cho textarea */
.medicine-info textarea {
  width: 617px;
  height: 231px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

/* Cài đặt cho button */
.medicine-info button {
  margin-top: 10px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
}

/* Cài đặt cho button "Lưu nháp" */
.formSumit button:first-of-type {
  border: 2px solid #4d44b5;
  border-radius: 40px;
  width: 172px;
  height: 64px;
  background-color: #fff;
  color: #4d44b5;
  margin-right: 26px;
}

.formSumit button:first-of-type:hover {
  background-color: #ccc;
}

.formSumit button:first-of-type:active {
  background-color: #747474;
  color: white;
}

/* Cài đặt cho button "Gửi" */
.formSumit button:last-of-type {
  border-radius: 40px;
  background-color: #4d44b5;
  color: white;
  width: 112px;
  height: 64px;
}

.formSumit button:last-of-type:hover {
  background-color: #3c358f;
}

.formSumit button:last-of-type:active {
  background-color: #151331;
}

/* Media query cho màn hình nhỏ */
@media (max-width: 768px) {
  .medicine-info {
    flex-direction: column;
  }

  .medicine-info label,
  .medicine-info input,
  .medicine-info textarea {
    grid-column: span 2;
  }

  .medicine-info button {
    grid-column: 1 / span 2;
  }
}

.medicine-info {
  column-count: 2;
}

.leftTeam * {
  width: 80%;
}

.leftTeam {
  width: 100%;
  margin: 0 5%;
}

.rightTeam * {
  width: 80%;
}

.summitFooter {
  text-align: right;
  padding-right: 5%;
}

.rightTeam input[name="image"] {
  width: 205px;
  height: 222px;
}

/* --------------------------------------------------------------------
 Page thông tin của thuốc */
/* 
body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
} */

.paracetamol-info {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.paracetamol-info h1 {
  font-size: 24px;
  margin-top: 0;
  color: #333;
  font-family: Arial, sans-serif;
}

.form-group {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  flex-basis: 20%;
  margin-bottom: 5px;
  color: #333;
  font-family: Verdana, sans-serif;
}

.form-group input,
.form-group textarea {
  flex-basis: 80%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
}

.form-group button {
  margin-top: 10px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  font-family: Arial, sans-serif;
}

/* Media query cho màn hình nhỏ */
@media (max-width: 768px) {
  .form-group {
    flex-direction: column;
  }

  .form-group label,
  .form-group input,
  .form-group textarea {
    flex-basis: 100%;
  }
}

/* -------------------------------------------------------------------------
Animation sidebar */
/* < !DOCTYPE html><html><head><style>div {
  width: 100px;
  height: 100px;
  background-color: crimson;
  position: relative;
  -webkit-animation-name: example; */
/* Safari 4.0 - 8.0 */
/* -webkit-animation-duration: 4s; */
/* Safari 4.0 - 8.0 */
/* animation-name: example;
  animation-duration: 4s; */
/* } */

/* Safari 4.0 - 8.0 */
/* @-webkit-keyframes example {
  0% {
    background-color: crimson;
    left: 0px;
    top: 0px;
  }

  25% {
    background-color: lightsalmon;
    left: 200px;
    top: 0px;
  }

  50% {
    background-color: seagreen;
    left: 200px;
    top: 200px;
  }

  75% {
    background-color: midnightblue;
    left: 0px;
    top: 200px;
  }

  100% {
    background-color: indigo;
    left: 0px;
    top: 0px;
  }
} */

/* Cú pháp tiêu chuẩn */
/* @keyframes example {
  0% {
    background-color: crimson;
    left: 0px;
    top: 0px;
  }

  25% {
    background-color: lightsalmon;
    left: 200px;
    top: 0px;
  }

  50% {
    background-color: seagreen;
    left: 200px;
    top: 200px;
  }

  75% {
    background-color: midnightblue;
    left: 0px;
    top: 200px;
  }

  100% {
    background-color: indigo;
    left: 0px;
    top: 0px;
  }
}

</style></head><div></div></body></html> */
#home:target {
  background-color: white;
  color: purple;
}

#patients:target {
  background-color: white;
  color: purple;
}

#employees:target {
  background-color: white;
  color: purple;
}

#medicines:target {
  background-color: white;
  color: purple;
}

#devices:target {
  background-color: white;
  color: purple;
}

#preventions:target {
  background-color: white;
  color: purple;
}

#admin:target {
  background-color: white;
  color: purple;
}

a {
  text-decoration: none;
  color: #C1BBEB;
}